---
import "../styles/global.css";
import Our_main from "../layouts/Our_main.astro";
---

<Our_main title="About">
  <img src="../public/img/art.webp" alt="" />
  <p>
    Being at KUNE Festival is an immersive experience that blends art, music, and the island’s natural beauty. The location’s secludedness adds to the sense of separation from everyday life. At the same time, the art invites us to engage in open
    discussions and imagine a world that can be different, making a positive impact over our mentality and worldview. In conjunction with the art, the music creates a holistic cultural experience representative of the modern, young Nordic artistic
    community.
  </p>
</Our_main>
