---
import "../styles/global.css";
import Our_main from "../layouts/Our_main.astro";
---

<Our_main title="KUNE festival" />
<body>
  <style>
    h1,
    h2,
    h3,
    h4,
    p {
      color: var(--cream-white);
    }
  </style>
</body>
