---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/jfp2fyt.css" />
    <title>HOME</title>
  </head>
  <body>
    <style>
      h1,
      h2,
      h3,
      h4,
      p {
        color: var(--cream-white);
      }
    </style>
  </body>
</html>
