---
---

<div class="KUNE">
  <a href="/index" class="logo"><img src="/logo/logo.svg" alt="" /></a>
  <p>Kune festival 19 - 23 July</p>
</div>

<style>
  .KUNE {
    width: 200px;
    position: relative;
    text-align: center;
    left: 50px;
  }

  .logo img {
    width: 200px;
    height: 135px;
    position: absolute;
  }

  .KUNE p {
    text-transform: uppercase;
    color: var(--black);
    font-size: var(--font-size-small);
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;

    position: absolute;
    top: 95px;
    left: 5px;
  }
</style>
