---
---

<div class="social-icons">
  <a href="#" class="insta"><i class="fa-brands fa-instagram"></i></a>
  <a href="#" class="face"><i class="fa-brands fa-facebook"></i></a>
</div>

<style>
  .social-icons {
    float: right;
    position: relative;
    top: 5px;
  }

  .social-icons i {
    color: var(--black);
    font-size: var(--font-size-h2);
    margin-inline: var(--space-m);
  }

  .face i:hover {
    color: #22389a;
  }

  .insta i:hover {
    background: -webkit-linear-gradient(-45deg, #e9a73f, #9747ff, #c84975);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
